.bodybg{
    -fx-background-image: url('635.jpg');
    -fx-background-size: 100% 100%;
}

.buttonstyle{
    -fx-background-color: #7cc901;
    -fx-background-radius: 25; 
    -fx-cursor:hand;
}
.addUserBtn{
    -fx-background-image: url('icons-add-user.png');
    -fx-background-size: 100% 100%;  
    -fx-cursor:hand;
}
.backBtn{
    -fx-background-image: url('icons-back.png');
    -fx-background-size: 100% 100%; 
    -fx-cursor:hand;
}